tips:
  list:
    "!":
      title: "Workshop tool / badge / other unlock"
      icon: "🏷️"
    "$":
      title: "Buy"
      icon: "💰"
    "a":
      title: "Clothing"
      icon: "🎩"
    "b":
      title: "Boss"
      icon: "☠️"
    "chalice":
      title: "Chalice"
      icon: "🕎"
    "choice":
      title: "Choice"
      icon: "🔀"
    "lamp":
      title: "Lamp"
      icon: "🕯️"
    "d":
      title: "The Old Hunters DLC content"
      icon: "🕰️"
    "e":
      title: "Enemy"
      icon: "💀"
    "g":
      title: "Gesture"
      icon: "🙋"
    "i":
      title: "Insight"
      icon: "👁️"
    "k":
      title: "Key item"
      icon: "🗝️"
    "l":
      title: "Flavor text / lore"
      icon: "📜"
    "o":
      title: "Online"
      icon: "🌐"
    "q":
      title: "Future reward(s)"
      icon: "🔮"
    "s":
      title: "Unlock"
      icon: "🔓"
    "t":
      title: "Talk (NPC)"
      icon: "💬"
    "trophy":
      title: "Needed for a trophy"
      icon: "🏆"
    "iw":
      title: "Invisible wall"
      icon: "🎯"
    "x":
      title: "Use one item to gain another"
      icon: "➡️"
    "w":
      title: "Weapon"
      icon: "🔪"
    "y":
      title: "Rune"
      icon: "☮️"